# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Ambientes e cache
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Ambiente local
.env

# VS Code
.vscode/
*.code-workspace

# Sistema operacional
.DS_Store
Thumbs.db

# Dados e Arquivos Locais (Evitar vazamento para o GitHub)
data/
*.parquet
*.csv
*.json
*.sqlite
*.db

# Credenciais, Chaves SSH e Segredos
.env
.env.*
*.pem
*.key
*.id_rsa
*.id_rsa.pub
id_rsa
id_rsa.pub

# dbt Artefatos e Pacotes
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
target/
dbt_packages/
logs/

