# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Ambientes e cache
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Ambiente local
.env

# VS Code
.vscode/
*.code-workspace

# Sistema operacional
.DS_Store
Thumbs.db
