# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Ambientes e cache
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Ambiente local
.env

# VS Code
.vscode/
*.code-workspace

# Sistema operacional
.DS_Store
Thumbs.db

# Dados e Arquivos Locais (Evitar vazamento para o GitHub)
data/
!data/agent_evaluation/
!data/agent_evaluation/**
*.parquet
*.csv
!powerbi/**/*.csv
*.json
!powerbi/**/*.json
!data/agent_evaluation/*.json
!docs/**/*.json
*.sqlite
*.db

# Credenciais, Chaves SSH e Segredos
.env
.env.*
*.pem
*.key
*.id_rsa
*.id_rsa.pub
id_rsa
id_rsa.pub

# dbt Artefatos e Pacotes
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
target/
dbt_packages/
logs/

# Great Expectations Artefatos e Renders
great_expectations/uncommitted/
great_expectations/expectations/unrendered/

# Terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform/
terraform.tfvars
terraform.tfvars.json
*.tfvars
!*.tfvars.example

infrastructure/terraform/.terraform/
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/terraform.tfvars
infrastructure/terraform/.terraform.lock.hcl




